# ========================
# NODE
# ========================
node_modules/
.pnpm-store/

# ========================
# BUILD (GLOBAL)
# ========================
dist/
build/
.out/

# ========================
# BUILD (MONOREPO)
# ========================
apps/*/dist/
apps/*/build/
apps/*/.next/
apps/web/dist/
apps/api/dist/

# ========================
# ENV
# ========================
.env
.env.*
!.env.example

# ========================
# LOGS
# ========================
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# ========================
# CACHE
# ========================
.cache/
.tmp/
.turbo/
.eslintcache

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# TYPESCRIPT
# ========================
*.tsbuildinfo

# ========================
# PRISMA
# ========================
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/*.sql

# ========================
# DOCKER
# ========================
docker-data/

# ========================
# TEST
# ========================
coverage/

# ========================
# MISC
# ========================
*.local